body {
    text-align: center;  /* Zentrierung im Internet Explorer */
  }

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 10px 0px 0px;
  text-align: left;
}
.loginLink {
	background: url(/LoginBox.png);
}


.login{
	background: url(/LoginBox.png);
	background-repeat: no-repeat;
	margin-top: 80px;
	margin-left: 170px;
	height:300px;
	width: 420px;
	
}

.loginTextPanel  {
	width: 300px;
	margin-top: 100px;
	margin-left: 42px;
	
}

.notework-logo {
	background: url(/Logo.png);
	background-size:90%;
	background-repeat:no-repeat;
	font-size: 100%;
	font-weight: bold;
	width: 230px;
	height:50px;
	margin-top: 10px;
	margin-left: 15px;
	border: 0px;
}	

	
}
.notework-headline {
	font-size: 12pt;
	font-weight: bold;
	color: #777777;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.notework-simpletext {
	font-size: 100%;
	font-weight: normal;
	padding: 3px;
}

.notework-label {
	font-size: 120%;
	font-weight: bold;
	font-style: italic;
	color: gray;
	padding-bottom: 0.5em;
}

.notework-textfield {
	font-size: 100%;
	font-weight: normal;
	padding: 3px;
	width: 15em;
}

.notework-menubutton {
	font-size: 100%;
	font-weight: bold;
	width: 12em;
	margin-bottom: 1em;
}

.notework-button {
	font-size: 100%;
	font-weight: bold;
}

.notework-addbutton{
	background-color: #f7f7f7;
	font-size: 100%;
	width: 200px;
	height:30px;
	margin-left: 40px;
	margin-top: 20px;
	opacity: 0.7;
	
	
}

.listbox {
	background-color: #f7f7f7;
	font-size: 100%;
	width: 200px;
	height:30px;
	margin-left: 40px;
	opacity: 0.7;
}

.notework-searchbutton{
	background-color: #f7f7f7;
	font-size: 100%;
	width: 200px;
	height:30px;
	margin-left: 40px;
	opacity: 0.7;
	
	
}

.signout-button {
	background: url(/SignOut.png);
	background-size:75%;
	background-repeat:no-repeat;
	font-size: 100%;
	font-weight: bold;
	width: 100px;
	height:50px;
	margin-top: 25px;
	margin-left: 1050px;
	border: 0px;
}	
	


div#TopLevelFrame {
	background: url(/Hintergrund.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	width-min: 1280px;
	height-min: 800px;
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
 }

div#Details {
	margin-left: 20em;
	height: 700px;
	padding: 1em 1em;
	border-top: 1px solid silver;
	border-left: 1px dashed silver;
}

div#Navigator {
	float: left;
	width: 18em;
	height: 700px;
	padding: 1em 1em;
	border-top: 1px solid silver;
}

div#Header {
	height: 70px;
	width: 100px;
	margin-left: 10px ;      /* standardkonforme horizontale Zentrierung */
	align: right;
}

div#Trailer {
	clear: both;
	padding: 10px 0;
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
	border-top: 1px dashed silver;
	font-size: 80%;
	text-align: center;
}

/**
	Ab hier: Alte Deklarationen. Können ggf. gelöscht werden.
*/
.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}