body {
    text-align: center;  /* Zentrierung im Internet Explorer */
  }

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 10px 0px 0px;
  text-align: left;
}

.headPanel {

}


.loginLink {
	background: url(/Logo.png);
}

.login{
	background: url(/LoginBoxFinal.png);
	background-repeat: no-repeat;
	background-size: 70%;
	margin: 0 auto;
	margin-top: 80px;
	height:500px;
	width: 700px;
	
}

.loginTextPanel  {
	width: 300px;
	margin-top: 100px;
	margin-left: 42px;
	
}

.notework-logo {
	background: url(/Logo.png);
	background-size:55%;
	background-repeat:no-repeat;
	font-weight: bold;
	width: 230px;
	height:50px;
	margin-left: 20px;
	margin-top: 15px;
	border: 0px;
}	
	
.style-Textbox {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right:10px;
	height:20px;
	width: 150px;
}
.notework-headline {
	font-size: 12pt;
	font-weight: bold;
	color: #777777;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}


.navObject {
	font-size: 120%;
	font-weight: bold;
	color: #ffffff;
	width: 12em;
	margin-left: 40px;
	margin-top: 10px;
	border: 0px;
	background-color: transparent;	
}
.headObject {
	font-size: 120%;
	font-weight: bold;
	color: #ffffff;
	width: 12em;
	margin-left: 10px;
	margin-top: 25px;
	border: 0px;
	background-color: transparent;	
}

.savePermission-button{
	height:25px;
	width: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right:10px;
	
}

.TextArea {
	
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right:10px;
}

.datepicker {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right:10px;
}

.notework-addbutton{
	background-color: #f7f7f7;
	font-size: 100%;
	width: 200px;
	height:30px;
	margin-left: 40px;
	margin-top: 20px;
	opacity: 0.7;
	
	
}

.listbox {
	background-color: #f7f7f7;
	font-size: 100%;
	width: 200px;
	height:30px;
	margin-left: 40px;
	opacity: 0.7;
}

.notework-searchbutton{
	background-color: #f7f7f7;
	font-size: 100%;
	width: 200px;
	height:30px;
	margin-left: 40px;
	opacity: 0.7;
	
	
}

div#TopLevelFrame {
	background: url(/Hintergrund-Notework5.jpg);
	background-size: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	width-min: 1280px;
	height-min: 800px;
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
 }

div#Details {
	margin-left: 20em;
	height: 750px;
	width-min: 600px;
	padding: 1em 1em;
	box-shadow: inset 0px 2px 5px #000;
}

div#Navigator {
	float: left;
	width: 18em;
	height: 750px;
	padding: 1em 1em;
	box-shadow: inset 0px 2px 5px #000;
}

div#Header {
	height: 70px;
	width-min: 800px;      /* standardkonforme horizontale Zentrierung */
	background-color: #006cd9;
}

div#Trailer {
	clear: both;
	padding: 10px 0;
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
	border-top: 1px dashed silver;
	font-size: 80%;
	text-align: center;
}

/**
	Ab hier: Alte Deklarationen. Können ggf. gelöscht werden.
*/
.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}